<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="${title}">...</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />

</head>
  <body>
	<div class="container-fluid">
		<div th:replace="index :: banner">...</div>
		<div th:replace="index :: main_panel">...</div>
	</div>
	<div class="container">
		<div class="row btn-group col-sm-12">
				<a class="btn btn-default" th:href="@{/}" role="button">Home</a>
				<a class="btn btn-primary" th:href="@{/forums/example}" role="button">Przykladowe forum</a>
				<hr/>
		</div>
	</div>
	<div class="container">
			<div th:if="${themaCreated}" class="alert alert-success">
					Utworzono temat.
			</div>
		</div>
	
	<div class="container">
		<div class="panel panel-default">
			<table class="table table-bordered panel-body">
				<thead>
			<tr class="row well">
				
					<th class="col-sm-8">Nazwa Tematu</th>
					<th class="col-sm-2 text-center" >Liczba tematów</th>
					<th class="col-sm-2 text-center">Data założenia</th>

			</tr>
				</thead>
				<tbody>
			<tr class="row">
			
				<td class="col-sm-8" ><a th:href="@{/forums/example/thema}"><h4>Przykładowy Temat</h4></a></td>
				<td class="col-sm-2 text-center"><h4>1</h4></td>
				<td class="col-sm-2 text-center"><h4>dd/MM/yyyy</h4></td>
				
			</tr>
			
				</tbody>
			</table>
		</div>
		<a class="btn btn-default" th:href="@{/forums/example/createthema}" role="button">Stwórz temat</a>
	</div>
	
	<hr/>
   <footer th:replace="index :: footer">...</footer>
  </body>
</html>