<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="${title}">...</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />

</head>
  <body>
	<div class="container-fluid">
		<div th:replace="index :: banner">...</div>
		<div th:replace="index :: main_panel">...</div>
	</div>
	<div class="container">
		<div class="row btn-group col-sm-12">
				<a class="btn btn-default" th:href="@{/}" role="button">Home</a>
				<a class="btn btn-primary" th:href="@{'/forums/' + ${title}}" role="button" th:text="${title}">...</a>
				<hr/>
		</div>
	</div>
	<div class="container">
			<div th:if="${themaCreated}" class="alert alert-success">
					Utworzono temat.
			</div>
			<div th:if="${themaDeleted}" class="alert alert-success">
					Temat <span th:text="${deletedTitle}">tytul_usunietego</span> pomyślnie usunięty.
			</div>
		</div>
	
	<div class="container">
		<div class="panel panel-default">
			<table class="table table-bordered panel-body">
				<thead>
			<tr class="row well">
				
					<th class="col-sm-6">Nazwa Tematu</th>
					<th class="col-sm-2 text-center" >Liczba postów</th>
					<th class="col-sm-2 text-center" >Autor tematu</th>
					<th class="col-sm-2 text-center">Data założenia</th>

			</tr>
				</thead>
				<tbody>
			<tr class="row" th:each="thema : ${themaList}">
			
				<td class="col-sm-6" ><a th:href="@{'/forums/' + ${title} + '/' + ${thema.title}}"><h4 th:text="${thema.title}">tytuł_tematu</h4></a></td>
				<td class="col-sm-2 text-center"><h4 th:text="${thema.posts.size()}">...</h4></td>
				<td class="col-sm-2 text-center"><h4 th:text="${thema.author.login}">...</h4></td>
				<td class="col-sm-2 text-center"><h4 th:text="*{#calendars.format(thema.createDate,'dd MMMM yyyy HH:mm')}">dd/MM/yyyy</h4></td>
				
			</tr>
			
				</tbody>
			</table>
		</div>
		<a sec:authorize="hasRole('ROLE_USER')" class="btn btn-default" th:href="@{'/forums/' + ${title} + '/createthema'}" role="button">Stwórz temat</a>
	</div>
	
	<hr/>
   <footer th:replace="index :: footer">...</footer>
  </body>
</html>