<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title th:text="${title}" >...</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<style>
		textarea {
			resize: none;
		}
	</style>
  </head>
  <body>
	<div class="container-fluid">
	<div th:replace="index :: banner" class="container-fluid">...</div>

	<div th:replace="index :: main_panel" class="container panel panel-default">...</div>
	
	<div class="container">
		<div class="row btn-group col-sm-12">
				<a class="btn btn-default" th:href="@{/}" role="button">Home</a>
				<a class="btn btn-default" th:href="@{'/forums/' + ${forumTitle}}" role="button" th:text="${forumTitle}">...</a>
				<a class="btn btn-primary" th:href="@{'/forums/'+ ${forumTitle} + '/' + ${themaTitle}}" role="button" th:text="${themaTitle}">...</a>
				<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger" th:href="@{'/adminpanel/delete/forum/thema/' + ${forumTitle} + '-' + ${themaTitle}}">Usuń temat</a>
					<hr/>
		</div>
	</div>
	<div class="container">
			<div th:if="${postDeleted}" class="alert alert-success">
					Post użytkownika <span th:text="${deletedAuthor}">user</span> pomyślnie usunięty.
			</div>
		</div>
	
	
	<div class="container">
		<div class="panel panel-default">
			<table class="table table-bordered panel-body">
				
				<tbody>
<!-- 				Pojedynczy post poczatek -->
					<tr th:each="post : ${postList}" th:object="${post}" class="row">
						<td class="col-sm-2 text-center" >
							<h4 th:text="*{author.login}" >User</h4>
							<div class="footer align-bottom">
								
								<h6 class="text-muted text-bottom" th:text="*{#calendars.format(author.joinDate,'dd MMMM yyyy')}">joinDate</h6>
							</div>
						</td>
						<td class="col-sm-10 ">
							<p th:text="*{content}">PostContent</p>
							<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger btn-xs text-right" 
									th:href="@{'/adminpanel/delete/forum/thema/post/' + ${forumTitle} + '-' + ${themaTitle} + '-' + *{id}}">Usuń post</a>
							<h6 class="text-muted" th:text="'Post dodany ' + *{#calendars.format(dateOfCreate,'dd MMMM yyyy')}">dateOfCreate</h6>
						</td>
					</tr>
<!-- 					Pojedynczy post koniec -->
					
			
				</tbody>
			</table>
		</div>	
		
	</div>
	
	<div class="container panel panel-default">
		
		<div class="panel-body">
			<div class="row" sec:authorize="not isAuthenticated()">
				<h6 class="col-sm-6 col-sm-offset-4">
					<i>Musisz być zalogowany by dodawać odpowiedzi. <a th:href="@{/login}">Zaloguj się.</a></i>
				</h6>
			</div>
			
			
			<form sec:authorize="hasRole('ROLE_USER')" id="answer" action="#" th:action="@{'/forums/' + ${forumTitle} + '/' + ${themaTitle}}" method="post" th:object="${formAnswer}">
				<div class="form-group row">
				<div class="col-sm-12" th:classappend="${#fields.hasErrors('content')} ? has-error">
					
					<label>Napisz odpowiedź</label>
					<textarea class="form-control" form="answer" placeholder="Odpowiedź" maxlength="2048" rows="5" th:field="*{content}"></textarea>
					<span class="help-block">max. 2048 znaków</span>
							<div th:each="error : ${#fields.errors('content')}">
								<h6 class="text-danger" type="text" th:text="'*' +${error}">...</h6>
							</div>
						</div>
				<div class="col-sm-2 col-sm-offset-6">
					<input type="submit" class="btn btn-success" value="Dodaj" />
				
				</div>
				</div>
			</form>
		</div>
		
	</div>
	</div>
	
	<hr/>
   <footer class="footer">
      <div class="container">
        <p class="text-muted text-center"><i>by Maciej Kijko</i></p>
      </div>
    </footer>
  </body>
</html>