<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="${title}">...</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<style>
textarea {
	resize: none;
}
</style>
</head>
<body>
	<div class="container-fluid">
		<div th:replace="index :: banner">...</div>
		<div th:replace="index :: main_panel">...</div>

		<div class="container">
			<div class="row btn-group col-sm-12">
				<a class="btn btn-default" th:href="@{/}" role="button">Home</a>
				<a class="btn btn-default" th:href="@{/groups}" role="button">Grupy</a>
				<a class="btn btn-primary" th:href="@{/groups/creategroup}" role="button">Stwórz grupę</a>
				<hr />
			</div>
		</div>

		<div class="container panel panel-default">

			<div class="panel-body">

				<div th:if="${created}" class="alert alert-success">
					Pomyślnie utworzyłeś grupę <b><i th:text="${name}">...</i></b> !
				</div>

				<form id="create"  action="#" th:action="@{/groups/creategroup}" th:object="${groupForm}" method="post">
					<div class="form-group row">
<!-- Nazwa grupy -->
						<div class="col-sm-12" th:classappend="${#fields.hasErrors('crewName')} ? has-error">
							<label>Nazwa grupy</label> 
							<input type="text" class="form-control" placeholder="Nazwa grupy" maxlength="63" th:field="*{crewName}" />
							<span class="help-block">max. 63 znaki</span>
							<div th:each="error : ${#fields.errors('crewName')}">
								<h6  class="text-danger" type="text" th:text="'*' +${error}">...</h6>
							</div>
						</div>

<!-- Opis grupy	-->
						<div class="col-sm-12" th:classappend="${#fields.hasErrors('description')} ? has-error">

							<label>Krótki opis grupy</label>
							<textarea class="form-control" form="create" placeholder="Treść"
								maxlength="255" rows="5" th:field="*{description}"></textarea>
							<span class="help-block">max. 255 znaków</span>
							<div th:each="error : ${#fields.errors('description')}">
								<h6 class="text-danger" type="text" th:text="'*' + ${error}">...</h6>
							</div>
						</div>
						
						
<!-- Dodaj członków -->
						<div class="col-sm-12" th:classappend="${#fields.hasErrors('members')} ? has-error">
							<label>Dodaj członków</label> 
							<input type="text" class="form-control" placeholder="np. tadekfirma; bosskiroman" maxlength="63" th:field="*{members}" /> 
							<span class="help-block">
								Dodaj członków po 
								<span class="text-success">nazwie użytkownika</span>
								oddzielając je znakiem ;
							</span>
							<div th:each="error : ${#fields.errors('members')}">
								<h6 class="text-danger" type="text" th:text="'*' + ${error}">...</h6>
							</div>
						</div>

						<div class="col-sm-2 col-sm-offset-6">
 							<button type="submit" class="btn btn-success col-sm-6 col-sm-offset-1">Dodaj</button>
						</div>
						
					</div>
				</form>
			</div>

		</div>
	</div>

	<hr />
	<footer th:replace="index :: footer">...</footer>
</body>
</html>