<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<title>Strona Grupowa</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	
  </head>
  <body>
	<div class="container-fluid">
		<div class="page-header text-center">
		<h1>Forum publiczne</h1> 
		<p>Zaloguj się, stwórz temat i rozmawiaj</p> 
	</div>
	
	<div class="container panel panel-default">
		<div class="row panel-body">
			<div class="btn-group col-sm-12">
				<a class="btn btn-default" href="login.html" role="button">Logowanie</a>
				<a class="btn btn-success" href="register.html" role="button">Rejestracja</a>
				<a class="btn btn-default" href="groups.html" role="button">Grupy</a>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row btn-group col-sm-12  pb-3">
				<a class="btn btn-default" href="index.html" role="button">Home</a>
				<a class="btn btn-default" href="groups.html" role="button">Grupy</a>
				<a class="btn btn-primary" href="group_site.html" role="button">NazwaGrupy</a>
				<hr/>
		</div>
	</div>
	
	
	<div class="container">
		<div class="panel panel-default">
			<div class="jumbotron">
				<h1 class="text-center">Nazwa grupy</h1> 
				<blockquote class="blockquote-reverse">Krótki opis grupy</blockquote> 
			</div>
			<h1 class="text-center"><kbd>Lista członków</kbd></h1>
			<hr/>
			<table class="table table-bordered panel-body">
					<thead>
				<tr class="row well">
				
					<th class="col-sm-10 text-center">Użytkownik</th>
					<th class="col-sm-2 text-center">Data dołączenia</th>

				</tr>
					</thead>
			<tbody>
				<tr class="row">
			
					<td class="col-sm-10 text-center"><h4 class="text-primary">user1</h4></td>
					<td class="col-sm-2 text-center"><h4>dd/MM/yyyy</h4></td>
				
				</tr>
			
			</tbody>
			</table>
			<hr/>
		</div>
	</div>
	
	<div class="container">
	
		<div class="panel panel-default">
		
			<form id="invite">
			<hr/>
				<div class="form-group row">
				<div class="col-sm-10 col-sm-offset-1">
					<label>Dodaj członków</label>
					<input type="text" class="form-control" placeholder="np. tadekfirma; bosskiroman" maxlength="63" />
					<span class="help-block">Dodaj członków po <span class="text-success">nazwie użytkownika</span> oddzielając je znakiem ;</span>
				</div>
				
				<div class="col-sm-2 col-sm-offset-5">
					<input type="submit" class="btn btn-primary" value="Dodaj do grupy" />
				
				</div>
				</div>
			<hr/>
			</form>
		
	</div>
	
	<hr/>
   <footer class="footer">
      <div class="container">
        <p class="text-muted text-center"><i>by Maciej Kijko</i></p>
      </div>
    </footer>
  </body>
</html>