<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<title>Przykladowe forum</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		textarea {
			resize: none;
		}
	</style>
	
	
  </head>
  <body>
	<div class="container-fluid">
		<div class="page-header text-center">
		<h1>Forum publiczne</h1> 
		<p>Zaloguj się, stwórz temat i rozmawiaj</p> 
	</div>
	
	<div class="container panel panel-default">
		<div class="row panel-body">
			<div class="btn-group col-sm-12">
				<a class="btn btn-default" href="login.html" role="button">Logowanie</a>
				<a class="btn btn-success" href="register.html" role="button">Rejestracja</a>
				<a class="btn btn-default" href="groups.html" role="button">Grupy</a>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row btn-group col-sm-12">
				<a class="btn btn-default" href="index.html" role="button">Home</a>
				<a class="btn btn-default" href="forum.html" role="button">Przykladowe forum</a>
				<a class="btn btn-primary" href="thema.html" role="button">Stwórz temat</a>
					<hr/>
		</div>
	</div>
	
	<div class="container panel panel-default">
		
		<div class="panel-body">
			
			<form id="answer">
				<div class="form-group row">
				<div class="col-sm-12">
					<label>Tytuł tematu</label>
					<input type="text" class="form-control" placeholder="Tytuł tematu" maxlength="63" />
					<span class="help-block">max. 63 znaki</span>
				</div>
				<div class="col-sm-12">
					
					<label>Treść pierwszego posta</label>
					<textarea class="form-control" form="answer" placeholder="Treść" maxlength="255" rows="5"></textarea>
					<span class="help-block">max. 255 znaków</span>
					
				</div>
				<div class="col-sm-2 col-sm-offset-6">
					<input type="submit" class="btn btn-success" value="Dodaj" />
				
				</div>
			</form>
		</div>
		
	</div>
	</div>
	
	<hr/>
   <footer class="footer">
      <div class="container">
        <p class="text-muted text-center"><i>by Maciej Kijko</i></p>
      </div>
    </footer>
  </body>
</html>