<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title th:text="${title}" >...</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}"/>
</head>
  <body class="backg" th:background="@{/images/bg.jpg}">
	
	<div th:replace="index :: banner">...</div>

	<div th:replace="index :: main_panel">...</div>
	
	<div class="container">
		<div class="row btn-group col-sm-12  pb-3">
				<a class="btn btn-default" th:href="@{/}" role="button">Home</a>
				<a class="btn btn-primary" th:href="@{/login}" role="button">Logowanie</a>
				<hr/>
		</div>
	</div>
	
	
	<div class="container">
		<div class="panel panel-default mtable">
		<hr/>
			<div th:if="${loginError}" class="alert alert-danger">
				<p>
					Złe dane do logowania, spróbuj ponownie.
				</p>
			</div>
			<form action="#" th:action="@{/login}" method="post">
			<div class="row">
				<div class="col-sm-3 col-sm-offset-1">
<!-- LOGIN	 -->
					<div class="form-group" th:classappend="${loginError} ? has-error">
						<label class="white" for="login">Login:</label>
						<input name="login" type="text" class="form-control" id="login"/>
					</div>
					
<!-- HASŁO -->
					<div class="form-group" th:classappend="${loginError} ? has-error">
						<label class="white" for="pwd">Hasło:</label>
						<input name="password" type="password" class="form-control" id="pwd"/>
					</div>
					
					
<!-- PRZYCISK LOGOWANIA -->
					<div class="form-group">
						<button type="submit" class="btn btn-success col-sm-4 col-sm-offset-1">Zaloguj</button>
					</div>
				</div>
				
				</div>
			</form>
			
		
		<hr/>
	</div>
	</div>
	
	<hr/>
   <footer th:replace="index :: footer" >
      ...
    </footer>
  </body>
</html>