<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title th:text="${title}" >...</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}"/>
</head>

<body class="backg" th:background="@{/images/bg.jpg}">
	<div th:replace="index :: banner" class="container-fluid">banner_skopiowany_z_index</div>

	<div th:replace="index :: main_panel" class="container panel panel-default">panel_skopiowany_z_index</div>

	<div class="container">
		<div class="row btn-group col-sm-12  pb-3">
			<a class="btn btn-default" th:href="@{/}" role="button">Home</a> 
			<a class="btn btn-primary" th:href="@{/register}" role="button">Rejestracja</a>
			<hr />
		</div>
	</div>


	<div class="container">
		<div class="panel panel-default mtable">
			<hr />
			
			<div th:if="${regComplete}" class="alert alert-success">
  				<strong>Sukces!</strong> 
  				<p>Rejestracja przebiegła pomyślnie! Zaloguj się <a th:href="@{/login}">tutaj</a>.</p>
			</div>
			<!-- 		Formularz rejestracyjny -->
			<form action="#" th:action="@{/register}" th:object="${form}" method="post">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-1">
<!-- USERNAME -->
						<div class="form-group" th:classappend="${#fields.hasErrors('username')} ? has-error">
							<label class="white" for="username">Login:</label> 
							<input  type="text" class="form-control" th:placeholder="#{username.help}" id="username" th:field="*{username}" />
							
							<div th:each="error : ${#fields.errors('username')}">
								<h6  class="text-danger" type="text" th:text="'*' +${error}">...</h6>
							</div>
						</div>
						
<!-- PASSWORD -->
						<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? has-error">
							<label class="white" for="pass">Hasło:</label> 
							<input type="password" class="form-control" th:placeholder="#{password.help}" id="pass" th:field="*{password}" />
							
							<div th:each="error : ${#fields.errors('password')}">
								<h6  class="text-danger" type="text" th:text="'*' +${error}">...</h6>
							</div>
						</div>
<!-- CONFIRM PASSWORD -->
						<div class="form-group" th:classappend="${#fields.hasErrors('passConfirm')} ? has-error">
							<label class="white" for="passConfirm">Powtórz hasło:</label> 
							<input type="password" class="form-control" th:placeholder="#{passConfirm.help}" id="passConfirm" th:field="*{passConfirm}" />
							
							<div th:each="error : ${#fields.errors('passConfirm')}">
								<h6  class="text-danger" type="text" th:text="'*' +${error}">...</h6>
							</div>
						</div>
<!-- E-mail -->
						<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
							<label class="white" for="email">E-mail:</label> 
							<input type="email"	class="form-control" th:placeholder="#{email.help}" id="email" th:field="*{email}" />
							
							<div th:each="error : ${#fields.errors('email')}">
								<h6  class="text-danger" type="text" th:text="'*' +${error}">...</h6>
							</div>
						</div>
<!-- REGISTER BUTTON -->
						<div class="form-group">
							<button type="submit" class="btn btn-success col-sm-6 col-sm-offset-1" th:text="#{button.submit}">...</button>
						</div>
					</div>
				</div>
			</form>
			<hr />
		</div>
	</div>
	<hr />
	<footer th:replace="index :: footer">...</footer>
</body>
</html>